body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    padding: 4%;
    margin: 0;
}
.tarjeta{
   margin: 0;
   padding: 2%;
   background-color: hsl(0, 0%, 100%);
   border-radius: 14px;
   margin: 0;
}
.tarjeta .imagen{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
 padding: 4px 1px 4px 1px;
}
.tarjeta img{
    border-radius: 14px;
    width: 100%;
    height: 270px;
    margin: 0;
}
.introduccion h1{
  color: hsl(24, 5%, 18%);
  font-family:  "young serif", serif;
  font-weight: 400;
}
.introduccion p{
    font-size: 16px;
    font-family: "outfit", sans-serif;
    margin: 8;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.preparacion{
   background-color: hsla(330, 100%, 80%, 0.1);
    width: 95%;
    height: 130px;
    padding: 4px;
    border-radius: 12px;
}
.preparacion h4{
   margin-left: 16px;
   color: hsl(332, 51%, 32%);
   font-family: "outfit", sans-serif;
   font-weight: 400;
}
span{
    font-family: "outfit", sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: hsl(30, 10%, 34%);
}
.preparacion li{
    font-family: "outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.preparacion li::marker{
    color: hsl(332, 51%, 32%);
}
.listado-ingredientes{
    font-size: 16px;
    font-family: "outfit", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;    
    align-items: flex-start;
}
.listado-ingredientes h2{
    color: hsl(14, 45%, 36%);
    font-family: "young serif", serif;
    font-weight: 400;
    letter-spacing: 0.9px;
}
.listado-ingredientes ul{
    padding-left: 23px;
   margin: 0;
   list-style: disc;
   color: hsl(332, 51%, 32%);
}
.listado-ingredientes li{
    padding-left: 16px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 12px;
    list-style: disc;
}
.listado-ingredientes li::marker{
    color: hsl(332, 51%, 32%);
}
.instrucciones h2{
    font-family: "young serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}
.instrucciones ol{
  display: flex;
  flex-direction: column;
  padding-left: 23px;
}
.instrucciones li{
    margin-bottom: 12px;
    font-family: "outfit", sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-left: 12px;
}
.instrucciones li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
.nutricion {
    display: flex;
    flex-direction: column;
    margin: 0
}
.nutricion h2{
    font-family: "young serif",serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin: 0;
}
.nutricion p{
    font-size: 16px;
    font-family: "outfit",sans-serif;
    font-weight: 400;
    margin-bottom: 8px;
}
.nutricion table {
    width: 95%;
    border-collapse: collapse;  /* ← Importante para bordes limpios */
    
}
.nutricion tr {
    border-bottom: 1px solid #e5e5e5;  /* ← Esto crea las líneas */
}

.nutricion tr:last-child {
    border-bottom: none;  /* ← Quita la línea de la última fila */
}

.nutricion td {
    padding: 12px 30px;/* Espacio arriba y abajo */
    font-family: "outfit",sans-serif;
    padding-bottom: 10px;
}

.Column-derecha {
    font-weight: 600;   /* Números en negrita */
    color: hsl(14, 45%, 36%);
}
hr{
    width: 100%;
}